@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>¿Desea saber numeros primos acorde al numero que desee?</p>
    <br />
    <div style="text-align: center;">
        <a asp-action="Primos" asp-controller="Home" class="btn btn-primary">Obtenlo Aqui</a>
    </div>
</div>
